.advantages__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #eeeeee;
}

.advantages__item {
  width: 100%;
  font-size: 0;
  line-height: 0;
}

.advantages__item p {
  .normal_text();
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
}

.advantages__item--blue {
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantages__image {
  overflow: hidden;
}

.advantages__image img {
  width: 100%;
}

.advantages__number {
  margin-top: 10px;
  margin-bottom: 15px;
}

.advantages__description {
  width: 265px;
  .margin-center();
}

.advantages__description br {
  display: none;
}

.advantages__item--grey {
  padding-top: 27px;
  padding-bottom: 27px;
  .grey_text();
  width: 87%;
  border-bottom: solid 1px #d6d6d6;
}

.advantages__item--grey:last-child {
  border: 0;
}

.advantages__item--grey .advantages__number {
  margin-top: 10px;
  margin-bottom: 14px;
}

.advantages__item--grey .advantages__description {
  width: 250px;
}

.advantages__item--grey h2 {
  color: #000000;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .advantages__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__item--blue {
    width: 33%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .advantages__description,
  .advantages__title {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .advantages__description br {
    display: inline;
  }

  .advantages__number {
    margin-bottom: 20px;
  }

  .advantages__image {
    width: 67%;
    margin-top: 0;
    height: 256px;
  }

  .advantages__image img {
    width: 100%;
  }

  li.advantages__item:nth-child(2) {
    flex-direction: row-reverse;
  }

  .advantages__item--grey {
    width: 100%/3;
    flex-direction: column;
    border: none;
    height: 256px;
    padding: 0;
    justify-content: center;
  }

  .advantages__item--grey h2 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .advantages__item--grey .advantages__description {
    width: auto;
    padding: 0 45px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__item--blue {
    width: 400px;
  }

  .advantages__image {
    width: 800px;
    height: 256px;
  }

  .advantages__image img {
    max-width: 100%;
    height: auto;
  }

  .advantages__title {
    width: 160px;
    .margin-center();
  }

  .advantages__description br {
    display: none;
  }

  .advantages__description {
    padding-left: 60px;
    padding-right: 60px;
  }

  .advantages__item--grey {
    height: 236px;
    padding-bottom: 20px;
  }

  .advantages__item--grey .advantages__number {
    margin-bottom: 20px;
  }
}
