.intro__wrapper {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.intro__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin-top: 46px;
}

.intro__text {
  .grey_text();
  line-height: 26px;
  text-align: center;
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .intro__header {
    font-size: 21px;
  }

  .intro__wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 435px;
    padding-bottom: 73px;
  }
}
