.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 83px;
}

@media (min-width: @tablet-width) {
  .page-header button {
    display: none;
  }

  .page-header__logo-image {
    width: 102px;
    height: auto;
  }

  .page-header__logo {
    width: 102px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    width: 188px;
    height: auto;
  }
}
