.photo-item {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 24px;
  font-size: 14px;
}

.photo-item__header {
  margin-top: 20px;
  font-size: 14px;
}

.photo-item__author {
  margin-top: 8px;
  .grey_text();
  text-transform: none;
}

.photo-item__likes {
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .photo-item {
    background-color: #f2f2f2;
    border: none;
    flex-basis: 50%;
    padding-top: 0;
  }

  .photo-item:first-child {
    flex-basis: 100%;
  }

  .photo-item__image {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .photo-item {
    flex-basis: 33%;
    padding-bottom: 0;
    color: #ffffff;
  }

  .photo-item__author {
    color: #ffffff;
  }
}
