.photo-gallery__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  .margin-center();
}

.photo-gallery {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .photo-gallery__wrapper {
    width: 648px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__wrapper {
    width: @desktop-width;
  }
}
