.photo-item {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 22px;
  line-height: 24px;
  font-size: 14px;
}

.photo-item__image {
  .line-reset ();
}

.photo-item__description {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-item__header {
  font-size: 14px;
  flex-basis: 100%;
}

.photo-item__author {
  flex-basis: 100%;
  margin-top: 1px;
  margin-bottom: 7px;
  .grey_text();
  text-transform: none;
}

.photo-item__likes--image {
  fill: rgba(0, 0, 0, 0.3);
  margin-right: 13px;
}

.photo-item__likes {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

@media (min-width: @tablet-width) {
  .photo-item {
    background-color: #f2f2f2;
    border: none;
    flex-basis: 50%;
    padding-top: 0;
  }

  .photo-item:first-child {
    flex-basis: 100%;
  }

  .photo-item__image {
    width: 100%;
  }

  .photo-item__description {
    height: 48px;
    padding: 16px 20px;
    flex-direction: column;
    align-content: space-between;
  }

  .photo-item__header {
    flex-basis: auto;
  }

  .photo-item__author {
    margin: 0;
    flex-basis: auto;
  }

  .photo-item__likes {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .photo-item {
    flex-basis: 100%/3;
    padding-bottom: 0;
    color: #ffffff;
  }

  .photo-item__author {
    color: #ffffff;
  }

  .photo-item__description {
    margin-top: -80px;
    padding-right: 30px;
    background-color: rgba(1, 1, 1, 0.3);
  }

  .photo-item picture {
    height: 267px;
  }

  .photo-item:first-child picture {
    height: 400px;
  }

  .photo-item__likes--image {
    fill: #ffffff;
  }
}
