.sub-advantages__list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: left;
  padding: 36px 20px;
  list-style: none;
}

.sub-advantages__item {
  margin-top: 40px;
}

.sub-advantages__item:first-child {
  margin-top: 0;
}

.sub-advantages__description {
  .grey_text();
}

.sub-advantages__header {
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .sub-advantages__wrapper {
    width: 100%;
  }

  .sub-advantages__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 258px;
  }

  .sub-advantages__item {
    width: 100%/3;
    margin: 0;
  }

  .sub-advantages__header,
  .sub-advantages__description {
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
  }

  .sub-advantages__item--souvenirs {
    order: 2;
  }
}
