@import "variables.less";

@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/banner.less";
@import "blocks/intro.less";
@import "blocks/advantages.less";
@import "blocks/page-footer.less";
@import "blocks/photo-gallery.less";

.list-reset {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-style: normal;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}
